Q-1 Write a Python Program to Check Leap Year.
Q-2 Write a Python Program to Check Prime Number.
Q-3 Write a Python Program to Display the multiplication Table.
Q-4 Write a Python program to convert kilometers to miles.
1km =0.621371
Q-5 Write a Python program to convert Celsius to Fahrenheit.
Formula = (celsius * 9/5) + 32

In [6]:
def leap(n):
    if (n%400==0)and(n%100==0):
        print("leap year")
    elif (n%4==0)and(n%100!=0):
        print("leap year")
    else:
        print("not a leap year")
n=int(input("enter year: "))
leap(n)

enter year:  2023

not a leap year

In [46]:
def prime(n):
    f=False
    if n<0:
        print("invalid")
    elif n==1:
        print('1 is',end=' ')
    else:
        for i in range(2,n):
            if n%i==0:
                f=True
                break
            else:
                f=False
    if f==True:
        print('not a prime number')
    else:
        print('prime number')
n=int(input("enter : "))
prime(n)

enter :  4

not a prime number

In [48]:
n=int(input('enter : '))
for i in range(1,11):
    print(f'{n}*{i}={n*i}')

enter :  5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [50]:
n=int(input('enter km : '))
print(f'miles = {n*0.621371}')

enter km :  5

miles = 3.106855

In [54]:
n=int(input('enter temp in celcius : '))
print(f'fahrenheit = {(n * 9/5) + 32}')

enter temp in celcius :  37

fahrenheit = 98.6

In [2]:
a = 5
b = 2.5
c = 'Hello'
result = a * b
print(c + str(result))

Hello12.5

In [8]:
	S1 = 'Python'
	S2 = ' is amazing!'
	result = S1*3 + S2
	print(result)

PythonPythonPython is amazing!

In [10]:
25//3

8

In [18]:
f=[1,2,3]
f.append(4)
f.pop(2)
f

[1, 2, 4]

In [28]:
p={'x':5 ,'y':8}
p['y']=100
p

{'x': 5, 'y': 100}